<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Inventory Management System</title>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/custom.css}">
    <script type="text/javascript" th:href="@{/custom.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>List of Products</h1>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <a th:href="@{/products/new}" class="btn btn-primary">Add Product</a>
      </div>
    </div>
    <!--search bar and search button -->
    <form action="/products" method="get">
      <label><input type="text" name="keyword" class="form-control" placeholder="Search..."></label>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <!--Listener methods for sort method so no submit button is req
    this is temp here until moved to script.js -->
    <script>
      $(document).ready(function () {
        $('#sort-select').change(function () {
          $('#sort-form').submit();
        });
      });
    </script>
    <!-- Drop Down selection for sorting -->
      <form action="/products" method="get" id="sort-form">
        <select name="sort" id="sort-select">
          <option value="default">Default</option>
          <option value="asc">Price (Low to High)</option>
          <option value="desc">Price (High to Low)</option>
        </select>
      </form>

    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Product Brand</th>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Product Gender</th>
          <th>Product Category</th>
          <th>Product Description</th>
          <th>Product Image</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
      <tr th:each="product: ${products}">
        <td th:text="${product.productBrand}"></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.productPrice}"></td>
        <td th:text="${product.productGender}"></td>
        <td th:text="${product.productCategory}"></td>
        <td th:text="${product.productDescription}"></td>
        <td th:text="${product.productImage}"></td>
        <td>
          <a th:href="@{/product/edit/{id}(id=${product.id})}" class="btn btn-primary">
            Update
          </a>
          <a th:href="@{/product/delete/{id}(id=${product.id})}" class="btn btn-danger">
            Delete
          </a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</body>
</html>